<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/signup_style.css">
</head>

<body>
    <a href="/"><img src=/static/images/logo.png alt="logo" /></a>
    <div class="container">
        <!-- DO NOT CHANGE THIS (aside from styling) -->
        <div class=signup>
            <h2>Sign Up</h2>
            <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="pfp">Profile Picture:</label>
                    <input type="file" id="pfp" name="file" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="fullname">Full Name:</label>
                    <input type="text" id="fullname" name="fullname" required>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn-signup" name="signup">Sign Up</button>
                <input type="hidden" name="operation" value="create" />
            </form>
            <div class="btn-login">
                Already have an account? <a href="/accounts/login">Log in</a>
            </div>
        </div>
    </div>
</body>

</html>