<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/login_style.css">
</head>


<body>
    <a href="/"><img src=/static/images/logo.png alt="logo" /></a>
    <div class="login">
        <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn-login">Login</button>
            <input type="hidden" name="operation" value="login" />
        </form>
        <div class="btn-signup">
            Don't have an account? <a href='/accounts/create/'>Sign up</a>
        </div>
    </div>
</body>
</html>