<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/password.css">
</head>

<body>
    <nav>
        <ul class="nav">
            <!--Logo-->
            <li><a href="/"><img src=/static/images/logo.png alt="logo" />
                </a></li>
            <!--Explore and user-->
            <li><a href="/users/{{logname}}/">{{logname}}</a></li>
            <li><a href="/explore/">explore</a></li>
        </ul>
    </nav>
    
    <main>
        <!-- DO NOT CHANGE THIS (aside from styling) -->
        <div class=signup>
            <!-- DO NOT CHANGE THIS -->
            <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
                <label for="password">Current Password:</label>
                <input type="password" name="password" id="password" required />
            
                <label for="new_password1">New Password:</label>
                <input type="password" name="new_password1" id="new_password1" required />
            
                <label for="new_password2">Confirm New Password:</label>
                <input type="password" name="new_password2" id="new_password2" required />
            
                <input type="submit" name="update_password" value="Submit" />
                <input type="hidden" name="operation" value="update_password" />
            </form>
            
            <p><a href='/accounts/edit/'><strong>Back to edit account</strong></a></p>
        </div>
    </main>
</body>


</html>